@model Blog.API.Models.FullUser;
@{
    ViewData["Title"] = "User";
}
<div id="main">
    
    <div class="col-sm-5 text-center h3">
        @Model.User.Name
    </div>

    <div class="col-sm-2 text-center h3">
        <form action="/article/create" method="get">
            <input type="submit" class="btn btn-outline-primary btn-lg" value="Create Article">
        </form>
    </div>

    <div class="col-sm-2 text-center h3">
        <form action="/user/update" method="get">
            <input type="submit" class="btn btn-outline-primary btn-lg" value="Change Password">
        </form>
    </div>

    <div class="col-sm-2 text-center h3">
        <input type="submit" class="btn btn-outline-primary btn-lg" id="deleteUser" value="Delete User">
    </div>

    <div class="col-sm-1 text-center h3">
        <form action="/user/logout" method="post">
            <input type="submit" class="btn btn-outline-primary btn-lg" value="Logout">
        </form>
    </div>

    <div class="col-sm-12 text-left h4">
        @if (@Model.Articles != null)
        {                
            @foreach (var Article in @Model.Articles)
            {
                <p class="col-sm-12 h5 rounded-30" style="background-color: gray; color: white;" >@Article.Key.Title<br> @Article.Key.Content </p>
                @if (@Article.Value != null)
                {
                    @foreach (var Comment in @Article.Value)
                    {
                        <p>@Comment.Content</p>
                        <p>@Comment.Author</p>
                    }
                }
            }
        }
    </div>
</div>
<script>
    document.getElementById('deleteUser').addEventListener('click', () => {
        var xhr = new XMLHttpRequest(); 
        xhr.open('DELETE', '/user/' + @Model.User.Id);
        xhr.onload = () => {
            if (xhr.status != '204') 
                return alert('Something went wrong, cannot delete the user.');
            alert("The user has been deleted correctly.");
            window.location.href = '/';
        };
        xhr.send();
    });
</script>
