@model BlogMvc.Models.UserViewModel
@{
    ViewData["Title"] = "User Main";
}
@if(Model.ArticleViewModel.Count() > 0)
{   
    @foreach (var articleVM in Model.ArticleViewModel.OrderByDescending(x => x.Article.Date)) {
        <div class="row border">
            <div class="col-md-12 text-justify">
                <p class="font-weight-bold h4">@articleVM.Article.Title</p>
            </div>
            <div class="col-md-12 text-justify">
                <p>@articleVM.Article.Content</p>
            </div>
            <div class="col-md-12 text-right">
                <p class="font-weight-bold">@articleVM.Article.Author @articleVM.Article.Date</p>
            </div>
            @if(articleVM.Article.UserId == @Model.User.Id)
            {
                @using(Html.BeginForm("Add", "Comment", new { id = articleVM.Article.Id }, FormMethod.Get, false, new { @class = "col-md-4 text-left" })) 
                {
                    <input class="h2 mt-2 btn btn-outline-lg bg-black text-white" type="submit" value="Add Comment" />
                }

                @using(Html.BeginForm("Update", "Article", new { id = articleVM.Article.Id }, FormMethod.Get, false, new { @class = "col-md-4 text-left" })) 
                {
                    <input class="h2 mt-2 btn btn-outline-lg bg-black text-white" type="submit" value="Update Article" />
                }

                <div class="col-md-4 text-left">
                    <input
                        class="h2 mt-2 btn btn-outline-lg bg-black text-white" 
                        onclick="deleteArticle('@articleVM.Article.Id')" 
                        type="submit" 
                        value="Delete Article" />                     
                </div>
            }
            else
            {
                @using(Html.BeginForm("Add", "Comment", new { id = articleVM.Article.Id }, FormMethod.Get, false, new { @class = "col-md-12 text-left" })) 
                {
                    <input class="h2 mt-2 btn btn-outline-lg bg-black text-white" type="submit" value="Add Comment" />
                }
            }
        </div>
        @foreach (var comment in @articleVM.Comments.OrderByDescending(r => r.Date))
        {
            <div class="row border">
                <div class="col-md-12 text-justify">
                    <p>@comment.Content</p>
                </div>
                <div class="col-md-12 text-right">
                    <p class="font-weight-bold">@comment.Author @comment.Date</p>
                </div>
            </div>
        }        
    }
}
else 
{
    <div class="row">
        <div class="col-md-12">
            <p>No articles</p>
        </div>
    </div>
}
<script>
    function deleteArticle(id) {
        fetch('/article/delete/' + id, {
            method: 'DELETE'
        }).then((response) => {
            if (response.status == '204') 
                return window.location.href = '/user/' + @User.Identity.Name;
        }).catch((err) => {
            throw err;
        });
    }
</script>