@model BlogEntities.User 
@{
    ViewData["Title"] = "Main";
}

<div class="row">
    <div class="col-md-6">
        <h2 class="text-md-center">Login</h2>
        @using (@Html.BeginForm("Login", "User", FormMethod.Post))
        {
            @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "mt-2 form-control" })
            @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "mt-2 form-control" })
            <div class="text-center h2">
                <input class="mt-2 btn btn-primary btn-lg" type="submit" value="Login" />
            </div>
        }
    </div>
    <div class="col-md-6">
        <h2 class="text-md-center">Register</h2>
        @using (@Html.BeginForm("Register", "User", FormMethod.Post))
        {
            @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "mt-2 form-control" })
            @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "mt-2 form-control" })
            <div class="text-center h2"> 
                <input class="mt-2 btn btn-primary btn-lg" type="submit" value="Register" />
            </div>
        }
    </div>
</div>