@model BlogEntities.Article
@{
    ViewData["Title"] = "Update article";
}
<div class="row">
    <div class="col-md-12">
        @Html.TextBoxFor(m => m.Title, new { placeholder = "Title", @class = "mt-2 form-control" })
        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
        @Html.TextAreaFor(m => m.Content, new { placeholder = "Content", @class = "mt-2 form-control", rows = "10" })
        @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger" })
        <div class="text-center h2"> 
            <input class="mt-2 btn btn-outline-lg bg-black text-white" name="update" type="submit" value="Update Article" />
        </div>
        <div class="text-center align-middle mb-2">
            @Html.ValidationMessage("error", new { @class = "text-danger" })
        </div>    
    </div>
</div>
<script>    
    $('input[name$="update"]').click(() => {
        // console.log($('#Title').val());
        // console.log($('#Content').val());
        let aa = JSON.stringify({ Id: @Model.Id, Title: $('#Title').val(), Content: $('#Content').val() });
        console.log(aa);
        // console.log(@Model.Id);
        fetch('/article/update/' + @Model.Id, {
            method: 'PUT',
            headers: { 'Content-Type': 'application/json' },
            body: aa
        }).then((response) => {
            console.log(response);
            if (response.status == '204') 
                return window.location.href = '/user/' + @User.Identity.Name;
            response.text().then(html => {
                document.body.innerHTML = html;
                document.querySelectorAll('script').forEach(x => eval(x.text));
            });
        }).catch((err) => {
            throw err;
        });
    });
</script>